@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@500&family=Bungee+Spice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
   @apply h-full bg-primary-dark;
}


body {
   @apply h-full overflow-x-hidden bg-primary-light;
}

/* Home */

.title-header {
   @apply font-unbounded font-semibold;
}

/* Home */

.home-outer {
   @apply w-screen min-h-full flex items-center justify-center bg-primary-light;
}

.home-inner {
   @apply container h-full mx-auto max-w-7xl;
}

/* Tooltip */

.tooltip {
   @apply absolute top-[55px] left-[55px] z-10 bg-tooltip-container text-tooltip-text py-0.5 px-1 text-[10px] whitespace-nowrap translate-x-[-30%];
}

/* Donation */

.donations-container {
   @apply flex justify-center items-center gap-2;
}

.user-container {
   @apply text-base md:text-lg lg:text-xl font-shoulders font-semibold uppercase;
}

/* Buttons */

.custom-btn {
   @apply hover:opacity-80 font-semibold outline-none rounded-md p-2.5;
}

.button-donate {
   @apply bg-primary-black text-primary-light flex text-[15px];
}

.button-fav {
   @apply bg-primary-black p-1 hover:opacity-90 hover:text-primary-red-200 text-primary-light border border-primary-dark;
}

.button-unfav {
   @apply bg-primary-black p-1 hover:opacity-90 hover:text-primary-red-100 text-primary-red border border-primary-dark;
}

.button-read {
   @apply bg-primary-green-200 text-white-main flex cursor-pointer pb-1.5;
}

.button-blog {
   @apply bg-primary-red-200 text-white-main flex cursor-pointer pb-1.5;
}

.button-home {
   @apply text-white-main hover:text-red-500 font-shoulders uppercase flex items-center cursor-pointer;
}

.button-lounge {
   @apply text-grey hover:text-primary-blue font-shoulders uppercase flex items-center cursor-pointer;
}

.button-pagination {
   @apply bg-gray-300 text-gray-700 font-extrabold hover:bg-primary-black hover:text-white-main font-shoulders uppercase flex items-center cursor-pointer px-4 py-2;
}

.admin-profile {
   @apply text-admin-outer hover:text-white-main font-shoulders uppercase flex items-center absolute top-0 xl:left-[10%] md:left-[15%] sm:left-[8%] left-[5%] cursor-pointer;
}

.admin-button {
   @apply bg-admin-btn text-white-main;
}

.admin-button-update, .button-login, .button-logout {
   @apply bg-white-main text-primary-black;
}

.admin-button-create, .button-profile {
   @apply bg-primary-blue text-white-main;
}

.admin-button-delete, .button-register {
   @apply bg-primary-red text-white-main;
}

/* Search Bar */

.search-bar {
   @apply flex items-center justify-start max-sm:flex-col sm:w-[500px] w-[240px] relative max-sm:gap-4 max-w-3xl;
}
 
.search-bar__item {
   @apply flex flex-1 max-sm:w-full justify-start items-center relative;
}
 
.search-bar__input {
   @apply w-full md:h-[48px] h-[40px] pl-8 p-4 bg-primary-lighter opacity-80 rounded-full max-sm:rounded-full outline-none cursor-pointer md:text-sm text-xs border border-primary-red-100;
}

.search-bar__clear {
   @apply text-gray-300 opacity-80 hover:text-primary-black absolute top-1/2 transform -translate-y-1/2 right-2;
}

.search-bar__submit-mobile {
   @apply absolute top-1/2 transform -translate-y-1/2 right-1;
}

.search-bar__item button {
   @apply absolute top-1/2 transform -translate-y-1/2 right-11 cursor-pointer;
}

/* Carousel */

.carousel-novel-id {
   @apply font-unbounded pb-2;
}

.carousel-container {
   @apply relative w-full py-4 px-24 z-20 overflow-hidden;
}

.carousel {
   display: flex;
   overflow-x: hidden;
   overflow-y: hidden;
   scroll-snap-type: x mandatory;
   gap: 0.3rem;
   padding-bottom: 1rem;
}
 
.carousel__nav-item {
   position: relative;
   flex: 0 0 auto;
   width: 12.5rem;
   height: 18.75rem;
   scroll-snap-align: start;
   transition: transform 0.3s ease;
   cursor: pointer;
   border-radius: 0.5rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
 
.carousel__nav-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 0.5rem;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
 
.carousel__nav-item.active, .carousel__nav-item.active-admin {
   transform: scale(1.125) translateZ(0);
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
   margin: 1rem;
}

.carousel-controls {
   @apply absolute flex items-center justify-between top-1/2 left-[3%] right-[3%] transform -translate-y-1/2 z-[-1];
}
 
.carousel-btn {
   @apply bg-transparent border-none text-[1.5rem] cursor-pointer;
}

.carousel-btn:focus {
   outline: none;
}

@media (max-width: 768px) {
   .carousel-container {
      width: 100%;
      overflow: hidden;
      padding: 0rem 2rem 2rem;
      position: relative;
      z-index: 20;
   }
   
   .carousel {
      padding: 0;
      gap: 0;
   }

   .carousel__nav-item {
      min-width: 200px;
      max-height: 310px;
      width: 100%;
      height: auto;
      box-shadow: none;
   }

   .carousel__nav-item.active {
      transform: scale(1) translateZ(0);
      margin: 0rem 0.5rem;
      border: 4px solid #444136;
      border-radius: 0.75rem;
      box-shadow: none;
   }

   .carousel__nav-item.active-admin {
      transform: scale(1) translateZ(0);
      margin: 0rem 0.5rem;
      border: 4px solid #5d57c9;
      border-radius: 0.75rem;
      box-shadow: none;
   }

   .carousel__nav-item img.active, .carousel__nav-item img.active-admin {
      box-shadow: none;
   }

   .carousel-controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-60%);
      z-index: 20;
   }

   .carousel-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
   }

   .carousel-btn:focus {
      outline: none;
   }
}

/* Carousel Arrows */

.carousel-controls {
   @apply top-1/2;
}

.carousel-btn.left-btn {
   @apply absolute left-5;
}

.carousel-btn.right-btn {
   @apply absolute right-5;
}

/* Content Pagination */

.pagination-container {
   @apply flex items-center justify-center;
}
 
.pagination-item {
   width: 1.875rem;
   height: 1.875rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #b4aeae;
   border-radius: 50%;
   margin: 0rem 0.5rem;
   cursor: pointer;
   font-size: 0.875rem;
   transition: background-color 0.3s ease;
   color: #b1adad;
}
 
.pagination-item.active {
   @apply bg-[#3c3636] text-white border-none;
}

@media (max-width: 768px) {
   .pagination-item {
      width: 1.25rem;
      height: 1.25rem;
      margin: 0rem 0.25rem;
   }

   .pagination-container {
      margin: 1rem 1.75rem 0.5rem 0;
   }
}

.pagination-arrow {
   @apply w-[1.875rem] h-[1.875rem] text-[1.25rem] my-0 mx-2 cursor-pointer;
   transition: color 0.3s ease;
   color: #918b8b;
}

.pagination-arrow.active, .pagination-arrow.disabled {
   @apply text-[#ccc];
}
 
.pagination-arrow:hover:not(.disabled) {
   color: #484242;
}

.overflow-y-scroll::-webkit-scrollbar {
   width: 1.25rem;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
   background-color: rgba(157, 146, 146, 0.3);
   border-radius: 0.5rem;
}

.overflow-y-scroll::-webkit-scrollbar-track {
   background-color: transparent;
}

/* Preview */

.preview-nav {
   @apply pt-16;
}

.preview-info {
   @apply h-[50px] text-center pb-8 font-shoulders font-semibold;
}

.preview-paragraph {
   @apply text-primary-lighter text-sm md:text-2xl uppercase;
}

.preview-ellipsis {
   @apply text-[30px] text-brown-dots-100 font-bold;
}

.preview-footer {
   @apply container h-full mx-auto max-w-7xl pt-6;
}
/* Admin */

.admin-header {
   @apply bg-admin-btn text-white-main font-semibold uppercase p-2 text-center text-base border-b border-slate-400 fixed w-full top-0 z-30;
}

.admin-table-container {
   @apply flex flex-col items-center gap-4 py-4 px-4 sm:px-12 md:px-24 lg:px-36 mt-10 bg-admin-outer h-full;
}

.admin-form-container {
   @apply sm:px-12 px-4 py-4 md:px-24 lg:px-36 bg-admin-outer h-full;
}

.admin-card {
   @apply w-full my-4 overflow-x-auto bg-admin-inner rounded-xl p-8 border border-admin-third;
}

.admin-search-container {
   @apply flex items-center bg-admin-third gap-2.5 p-2.5 rounded-xl w-max;
}

.admin-search-input {
   @apply bg-transparent text-white-main border-none outline-none;
}

.table-header {
   @apply text-left font-unbounded;
}

.table-content {
   @apply text-left bg-transparent text-slate-300 font-medium;
}

.table-cell {
   @apply md:text-base text-xs border-gray-600 border-b p-3 md:p-4 overflow-x-auto;
}

.table-cell-amount {
   @apply md:text-base text-xs font-bungee font-semibold;
}

.table-cell-identifier {
   @apply md:text-base text-xs font-shoulders text-slate-500 font-semibold uppercase;
}

.table-cell-err {
   @apply md:text-base text-xs font-bold border-gray-600 border-b p-3 md:p-4 flex items-center;
}

.table-refresh-icon {
   @apply ml-2 text-lg text-yellow-200 cursor-pointer;
}

.admin-form-header {
   @apply flex md:flex-row flex-col justify-between md:items-start items-center gap-2 mb-6;
}

.admin-form-state {
   @apply pt-1 text-2xl text-white-main font-semibold border-admin-btn border-y-4 font-shoulders uppercase;
}

.admin-textarea {
   @apply w-full px-6 pt-6 pb-1 rounded-md bg-admin-third text-white outline-none;
}

.chart-container {
   @apply bg-admin-outer h-[540px] flex flex-col items-center p-6 pr-16 pb-8 w-full;
}

.chart-title {
   @apply text-chart-title mb-5 font-extralight text-left pl-12;
}

/* No Item */

.nsContainer {
   @apply flex flex-col items-center justify-center text-center py-24 px-6 pr-16 font-shoulders cursor-pointer;
}
 
.nsTitle {
   @apply text-base md:text-lg lg:text-xl font-semibold uppercase;
}
 
.nsDescription {
   @apply text-base lg:text-lg mb-6 text-grey mt-1;
}
 
.nsImage {
   @apply w-full max-w-[200px] h-auto text-center opacity-80 cursor-pointer;
}

.nfContainer {
   @apply flex flex-col items-center justify-center text-center py-48 px-6 font-shoulders cursor-pointer;
}

.nfTitle {
   @apply text-lg md:text-xl lg:text-2xl font-semibold uppercase;
}

.nfDescription {
   @apply text-lg lg:text-xl text-grey mt-1;
}
 
.nfImage {
   @apply w-full max-w-[240px] h-auto text-center opacity-80 cursor-pointer rotate-6;
}

.nnContainer {
   @apply flex flex-col items-center justify-center text-center py-24 px-6 font-shoulders cursor-pointer;
}

.nnTitle {
   @apply text-lg md:text-xl lg:text-2xl font-semibold uppercase;
}

.nnDescription {
   @apply text-lg lg:text-xl text-grey mt-1 mb-8;
}
 
.nnImage {
   @apply w-full max-w-[160px] h-auto text-center opacity-80 cursor-pointer;
}

.npContainer {
   @apply flex flex-col items-center justify-center text-center py-16 px-6 font-shoulders cursor-pointer;
}

.npTitle {
   @apply text-white-main text-lg md:text-xl lg:text-2xl font-semibold uppercase;
}

.npDescription {
   @apply text-lg lg:text-xl text-chart-title mt-1 mb-8;
}
 
.npImage {
   @apply w-full max-w-[150px] h-auto text-center opacity-80 cursor-pointer;
}

/* Newsletter */

.toggler-container {
   @apply flex justify-center;
}

.toggler {
   @apply md:w-16 w-14 h-6 border-[1px] rounded-full bg-primary-black flex items-center justify-between p-2.5 relative cursor-pointer;
}
 
.toggle-choice {
   @apply md:text-xs sm:text-[0.7rem] sm:leading-3 text-[0.6em] text-gray-300;
}
 
.toggle-ball {
   @apply w-4 h-4 rounded-full absolute;
}

/* Footer */

.footer__link {
   @apply flex flex-col gap-4 text-base min-w-[75px];
}
 
.footer__links {
   @apply flex-1 w-full flex flex-wrap justify-center md:justify-end max-md:mt-10 md:gap-20 gap-10;
}
 
.footer__copyrights-link {
   @apply flex-1 flex sm:justify-end justify-center max-sm:mt-2 gap-16;
}

.footer__bottom-container {
   @apply flex flex-col sm:flex-row justify-between items-center mt-4 sm:mt-6 border-t border-gray-300 text-base sm:px-6 px-3 py-4;
}

/* Auth */

.shake-form {
   animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
}

/* Favorite */

.fav-container {
   @apply flex flex-col items-center overflow-hidden;
}

.fav-card {
   @apply flex flex-row items-center rounded-[3px] md:min-w-[600px] sm:min-w-[550px] min-w-[500px] h-[90px] mb-2.5 bg-pages-container-300 border border-pages-container-200 overflow-hidden transition-all duration-100 cursor-pointer;
   perspective:600px;
   box-shadow:0px 2px 10px rgba(0,0,0,.2);
}

.fav-info {
   @apply h-32 overflow-hidden w-[200px] text-[12px] text-[#777] font-normal;
}

.fav-card.open {
   @apply xl:p-8 md:p-6 p-4 h-auto;
}

.fav-info.open .fav-info {
   @apply mt-2.5 h-full overflow-visible;
}

.fav-info.open .fav-img {
   transform:rotateY( 50deg );
   box-shadow:-10px 10px 10px 2px rgba(0,0,0,.2), -2px 0px 0px 0px #888;
   transition:all 0.5s;
   transition-delay:0.05s; 
}

.fav-info.open .fav-content {
   transform:translate(0,-10px);
}

.fav-info.open .fav-pages {
   padding:15px 20px;
   border-radius:4px;
   align-self:flex-start;
}

.fav-card.open .fav-btns {
   @apply flex justify-evenly h-10 transition-all duration-500;
}

.fav-img {
   @apply md:w-[120px] w-[100px] overflow-hidden transition-all duration-500;
   box-shadow:0px 2px 10px rgba(0,0,0,0.3);
}

.fav-card.open .fav-img {
   @apply min-h-[150px];
   -webkit-transform: rotate3d(0,1,0,50deg);
   -moz-transform: rotate3d(0,1,0,50deg);
   transform: rotate3d(0,1,0,50deg);
}

.fav-content {
   @apply flex flex-col min-w-[200px] px-[30px] font-bold font-shoulders transition-all duration-200;
}

.fav-title {
   @apply text-white-main text-[1em] tracking-[1px] ;
}

.fav-genre {
   @apply text-[12px] text-pages-container-200 font-normal mb-2;
}

.fav-group {
   @apply flex flex-col gap-3 md:ml-auto ml-3 py-2;
}

.fav-pages {
   @apply flex items-center gap-1 bg-pages-container text-pages-container-100 font-unbounded p-8 transition-all duration-100;
}

.fav-curr-page {
   @apply mr-1.5 font-bold bg-transparent outline-none cursor-pointer;
}

.fav-max-page {
   @apply ml-2.5 opacity-50;
}

input[type="number"] {
   text-align: right;
   -webkit-appearance: textfield;
   -moz-appearance: textfield;
   appearance: textfield;
}
 
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
}

.page-up {
   @apply mb-[-4px];
}

.page-down {
   @apply mt-[-4px];
}

/* Lounge */

.newsletter-container {
   @apply flex flex-col items-center justify-center w-full font-shoulders uppercase p-4;
}

.newsletter-main {
   @apply flex items-center gap-2 p-3 text-base md:text-xl font-extrabold border-b-[1px] border-tooltip-container;
}

.newsletter-sub {
   @apply text-tooltip-text text-xs md:text-sm font-extralight pt-3;
}

/* NovelId */

.novel-id-container, .preview-id-container {
   @apply container mx-auto p-6;
}

.novel-id-content {
   @apply max-w-3xl mx-auto pt-4 p-6 rounded-lg shadow-lg mb-10 bg-white relative;
}

.preview-id-content {
   @apply max-w-3xl mx-auto pt-4 p-6 rounded-lg shadow-lg mb-10 bg-primary-black-100 text-primary-light relative;
}

.novel-id-header, .preview-id-header {
   @apply flex items-center justify-between border-b-2;
}

.novel-id-title {
   @apply text-primary-black font-shoulders uppercase font-extrabold pr-4;
}

.preview-id-title {
   @apply text-white-main font-shoulders uppercase font-extrabold pr-4;
}

.novel-id-pagination {
   @apply fixed bottom-0 left-0 right-0 p-4 flex justify-evenly items-center bg-primary-lighter;
}

.novel-id-no-container {
   @apply mx-auto bg-white h-full;
}

.preview-id-no-container {
   @apply mx-auto bg-primary-black-100 h-full;
}

.novel-id-no-content {
   @apply text-center font-bold p-8 shadow-lg;
}

.preview-id-no-content {
   @apply text-white-main text-center font-bold p-8 shadow-lg;
}