@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply bg-zinc-400 h-full overflow-x-hidden;
}

#__next {
   @apply h-full;
}

html {
   @apply h-full;
}

.footer__link {
   @apply flex flex-col gap-6 text-base min-w-[170px];
}
 
.footer__links {
   @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}
 
.footer__copyrights-link {
   @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}

.tooltip {
   position: absolute;
   top: 60px;
   left: 55px;
   background-color: rgba(0, 0, 11, 0.5);
   color: gray;
   padding: 4px 8px;
   font-size: 10px;
   white-space: nowrap;
   z-index: 1000;
   transform: translateX(-30%);
}

.search-bar {
   @apply flex items-center justify-start max-sm:flex-col sm:w-[500px] w-[280px] relative max-sm:gap-4 max-w-3xl;
}
 
.search-bar__item {
   @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}
 
.search-bar__input {
   @apply w-full h-[48px] pl-8 p-4 bg-light-white rounded-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}

.carousel-container {
   width: 100%;
   overflow: hidden;
   padding: 0 20px;
}

.carousel {
   display: flex;
   overflow-x: scroll;
   scroll-behavior: smooth;
   margin: -8px;
}
 
.carousel__nav-item {
   margin: 8px;
   cursor: pointer;
   transition: transform 0.3s ease;
}
 
.carousel__nav-item img {
   width: 200px;
   height: 300px;
   object-fit: cover;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
 
.carousel__nav-item.active {
   transform: scale(1.1);
}
 