@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@500&family=Bungee+Spice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   @apply h-full overflow-x-hidden;
}

html {
   @apply h-full;
}

/* Header */

.title-header {
   font-family: 'Unbounded', sans-serif;
   font-weight: 600;
}

/* Tooltip */

.tooltip {
   position: absolute;
   top: 60px;
   left: 55px;
   background-color: rgba(0, 0, 11, 0.5);
   color: gray;
   padding: 4px 8px;
   font-size: 10px;
   white-space: nowrap;
   z-index: 10;
   transform: translateX(-30%);
}

/* Search Bar */

.search-bar {
   @apply flex items-center justify-start max-sm:flex-col sm:w-[500px] w-[240px] relative max-sm:gap-4 max-w-3xl;
}
 
.search-bar__item {
   @apply flex flex-1 max-sm:w-full justify-start items-center relative;
}
 
.search-bar__input {
   @apply w-full md:h-[48px] h-[40px] pl-8 p-4 bg-white-light rounded-full max-sm:rounded-full outline-none cursor-pointer md:text-sm text-xs border border-primary-red-100 focus:border-primary-black;
}

.search-bar__clear {
   @apply text-gray-300 opacity-80 hover:text-primary-black absolute top-1/2 transform -translate-y-1/2 right-2;
}

.search-bar__submit-mobile {
   @apply absolute top-1/2 transform -translate-y-1/2 right-1;
}

.search-bar__item button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 2.75rem;
   cursor: pointer;
}

/* Carousel */

.carousel-novel-id {
   font-family: 'Unbounded', sans-serif;
   padding-bottom: 0.5rem;
}

.carousel-container {
   width: 100%;
   overflow: hidden;
   padding: 1rem 6rem;
   position: relative;
   z-index: 20;
}

.carousel {
   display: flex;
   overflow-x: hidden;
   overflow-y: hidden;
   scroll-snap-type: x mandatory;
   gap: 0.3rem;
   padding-bottom: 1rem;
}
 
.carousel__nav-item {
   flex: 0 0 auto;
   width: 12.5rem;
   height: 18.75rem;
   scroll-snap-align: start;
   transition: transform 0.3s ease;
   cursor: pointer;
   border-radius: 0.5rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
 
.carousel__nav-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 0.5rem;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
 
.carousel__nav-item.active, .carousel__nav-item.active-admin {
   transform: scale(1.125) translateZ(0);
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
   margin: 1rem;
}

.carousel-controls {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   top: 50%;
   left: 3%;
   right: 3%;
   transform: translateY(-50%);
   z-index: -1;
}
 
.carousel-btn {
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 1.5rem;
}
 
.carousel-btn:focus {
   outline: none;
}

@media (max-width: 768px) {
   .carousel-container {
      width: 100%;
      overflow: hidden;
      padding: 0rem 2rem 2rem;
      position: relative;
      z-index: 20;
   }
   
   .carousel {
      padding: 0;
      gap: 0;
   }

   .carousel__nav-item {
      min-width: 200px;
      max-height: 310px;
      width: 100%;
      height: auto;
      box-shadow: none;
   }

   .carousel__nav-item.active {
      transform: scale(1) translateZ(0);
      margin: 0rem 0.5rem;
      border: 4px solid #444136;
      border-radius: 0.75rem;
      box-shadow: none;
   }

   .carousel__nav-item.active-admin {
      transform: scale(1) translateZ(0);
      margin: 0rem 0.5rem;
      border: 4px solid #5d57c9;
      border-radius: 0.75rem;
      box-shadow: none;
   }

   .carousel__nav-item img.active, .carousel__nav-item img.active-admin {
      box-shadow: none;
   }

   .carousel-controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-60%);
      z-index: 20;
   }

   .carousel-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
   }

   .carousel-btn:focus {
      outline: none;
   }
}

/* Carousel Arrows */

.carousel-controls {
   top: 50%;
}

.carousel-btn.left-btn {
   position: absolute;
   left: 1.25rem;
}

.carousel-btn.right-btn {
   position: absolute;
   right: 1.25rem;
}

/* Content Pagination */

.pagination-container {
   display: flex;
   align-items: center;
   justify-content: center;
}
 
.pagination-item {
   width: 1.875rem;
   height: 1.875rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #b4aeae;
   border-radius: 50%;
   margin: 0rem 0.5rem;
   cursor: pointer;
   font-size: 0.875rem;
   transition: background-color 0.3s ease;
   color: #b1adad;
}
 
.pagination-item.active {
   background-color: #3c3636;
   color: white;
   border: none;
}

@media (max-width: 768px) {
   .pagination-item {
      width: 1.25rem;
      height: 1.25rem;
      margin: 0rem 0.25rem;
   }

   .pagination-container {
      margin: 1rem 1.75rem 0.5rem 0;
   }
}

.pagination-arrow {
   width: 1.875rem;
   height: 1.875rem;
   font-size: 1.25rem;
   margin: 0 0.5rem;
   cursor: pointer;
   transition: color 0.3s ease;
   color: #918b8b;
}

.pagination-arrow.active {
   color: #ccc;
}

.pagination-arrow.disabled {
   color: #ccc;
}
 
.pagination-arrow:hover:not(.disabled) {
   color: #484242;
}

.overflow-y-scroll::-webkit-scrollbar {
   width: 1.25rem;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
   background-color: rgba(157, 146, 146, 0.3);
   border-radius: 0.5rem;
}

.overflow-y-scroll::-webkit-scrollbar-track {
   background-color: transparent;
}

/* Donation Buttons */

.donations-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
 }
 
.donation-item {
   border: 1px solid white;
   cursor: pointer;
   color: white;
   padding: 0.25rem 0.5rem;
}
 
.donation-item:hover {
   transition: color 0.3s ease;
   color: #111010;
   background-color: rgb(255, 241, 241);
}
 
.donation-item a {
   display: flex;
   justify-content: center;
   align-self: end;
   gap: 0.375rem;
   text-decoration: none;
   color: inherit;
}
 
.donation-text {
   font-size: 0.775rem;
}
 
@media (max-width: 768px) {
   .donations-container {
     gap: 0.25rem;
   }
 
   .donation-item {
     padding: 0.25rem;
   }
}
 
.paypal {
   background-color: #004aad;
}

.buymeacoffee {
   background-color: #bf0101;
}

/* Admin */

.admin-header {
   @apply bg-admin-btn text-white-main font-semibold uppercase p-2 text-center text-base border-b border-slate-400 fixed w-full top-0 z-30;
}

.table-header {
   @apply text-left;
   font-family: 'Unbounded', sans-serif;
}

.table-content {
   @apply text-left bg-transparent text-slate-300;
   font-family: 'Big Shoulders Text', sans-serif;
   font-weight: 500;
}

.table-cell {
   @apply md:text-base text-xs border-gray-600 border-b p-3 md:p-4 overflow-x-auto;
}

.table-cell-amount {
   @apply md:text-base text-xs font-semibold;
   font-family: 'Bungee Spice', sans-serif;
}

.table-cell-identifier {
   @apply md:text-base text-xs text-slate-500 font-semibold uppercase;
}

.table-cell-err {
   @apply md:text-base text-xs font-bold border-gray-600 border-b p-3 md:p-4 flex items-center;
}

/* Footer */

.footer__link {
   @apply flex flex-col gap-4 text-base min-w-[75px];
}
 
.footer__links {
   @apply flex-1 w-full flex flex-wrap justify-center md:justify-end max-md:mt-10 md:gap-20 gap-10;
}
 
.footer__copyrights-link {
   @apply flex-1 flex sm:justify-end justify-center max-sm:mt-2 gap-16;
}

.footer__bottom-container {
   @apply flex flex-col sm:flex-row justify-between items-center mt-4 sm:mt-6 border-t border-gray-300 text-base sm:px-6 px-3 py-4;
}

 
 
 
 